<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Screening{% endblock %}</title>
        <link href= "static/styles.css" rel="stylesheet">

    </head>

    <body>
        <!-- Table 1--> 
        <h1>Table 1 Values</h1>
        <table>
            <thead>
                <tr>
                    <th class="left-align not_bolded">Index #</th>
                    <th class="left-align not_bolded">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for field, value in table_one.items %}
                <tr>
                    <td class="left-align">{{ field }}</td>
                    <td class="right-align">{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

     <!-- Table 2--> 
     <h1>Table 2 Values</h1>
     <table class="table_2">
         <thead>
             <tr class="table_2">
                 <th class="center-align table_2"=>Category</th>
                 <th class="center-align table_2">Value</th>
             </tr>
         </thead>
         <tbody>
             {% for field, value in table_two.items %}
             <tr>
                 <td class="center-align table_2">{{ field }}</td>
                 <td class="center-align table_2">{{ value }}</td>
             </tr>
             {% endfor %}
         </tbody>
     </table>
    </body>
    </html>